<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>EmployeeApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterCompleteServlet</display-name>
    <servlet-name>RegisterCompleteServlet</servlet-name>
    <servlet-class>jp.co.sfrontier.ojt.employee.servlet.RegisterCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCompleteServlet</servlet-name>
    <url-pattern>/RegisterCompleteServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/Error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/Error500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UpdateConfirmServlet</display-name>
    <servlet-name>UpdateConfirmServlet</servlet-name>
    <servlet-class>jp.co.sfrontier.ojt.employee.servlet.update.UpdateConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateConfirmServlet</servlet-name>
    <url-pattern>/UpdateConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCompleteServlet</display-name>
    <servlet-name>UpdateCompleteServlet</servlet-name>
    <servlet-class>jp.co.sfrontier.ojt.employee.servlet.update.UpdateCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompleteServlet</servlet-name>
    <url-pattern>/UpdateCompleteServlet</url-pattern>
  </servlet-mapping>
</web-app>